<div class="container__big-card">
    <div class="big-card__photo">
        <img
            src="https://code.visualstudio.com/assets/docs/nodejs/angular/breakpoint.png" 
            alt="Print de tela do VS Code, mostrando o arquivo de importação de módulos de uma aplicação Angular."
            srcset=""
        >
    </div>
    <div class="big-card__title">
        <h1><a href="#">Aluna de Etec aprende Angular nas férias</a></h1>
    </div>
    <div class="big-card__descricao"><a href="#">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at odio dapibus, facilisis sem a, bibendum dui. Suspendisse potenti. Ut dictum felis et metus porttitor, eget convallis quam maximus.</p>
    </a></div>
</div>
