<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__destaque">
        <app-big-card 
            photoCover="https://code.visualstudio.com/assets/docs/nodejs/angular/breakpoint.png"
            photoAltText="Print de tela do VS Code, mostrando o arquivo de importação de módulos de uma aplicação Angular."
            cardTitle="Aluna de Etec aprende Angular nas férias"
            cardDescricao="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at odio dapibus, facilisis sem a, bibendum dui. Suspendisse potenti. Ut dictum felis et metus porttitor, eget convallis quam maximus."
            cardUrl="https://github.com/RayssaBuarque/angular-blog_DIO"
        ></app-big-card>
    </div>

    <div class="articles__outros">
        <app-small-card
            photoCover="https://media.licdn.com/dms/image/D4D22AQE_tV744t8fSg/feedshare-shrink_1280/0/1688257514880?e=1691625600&v=beta&t=347YQHCFKTRZlaf6FuvhDzq_n8iYmSSRcoZncGIKFgI"
            photoAltText="Print de tela do VS Code, mostrando o arquivo de importação de módulos de uma aplicação Angular."
            cardTitle="Aplicativo de Bicicleta vence EMpreendeSIM 2023"
            cardUrl="https://artemisbike.vercel.app/"
        ></app-small-card>

        <app-small-card
            photoCover="https://media.licdn.com/dms/image/D4D22AQE_tV744t8fSg/feedshare-shrink_1280/0/1688257514880?e=1691625600&v=beta&t=347YQHCFKTRZlaf6FuvhDzq_n8iYmSSRcoZncGIKFgI"
            photoAltText="Print de tela do VS Code, mostrando o arquivo de importação de módulos de uma aplicação Angular."
            cardTitle="Aplicativo de Bicicleta vence EMpreendeSIM 2023"
            cardUrl="https://artemisbike.vercel.app/"
        ></app-small-card>

        <app-small-card
            photoCover="https://media.licdn.com/dms/image/D4D22AQE_tV744t8fSg/feedshare-shrink_1280/0/1688257514880?e=1691625600&v=beta&t=347YQHCFKTRZlaf6FuvhDzq_n8iYmSSRcoZncGIKFgI"
            photoAltText="Print de tela do VS Code, mostrando o arquivo de importação de módulos de uma aplicação Angular."
            cardTitle="Aplicativo de Bicicleta vence EMpreendeSIM 2023"
            cardUrl="https://artemisbike.vercel.app/"
        ></app-small-card>
    </div>
</div>

