<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__destaque">
        <app-big-card 
        photoCover="https://code.visualstudio.com/assets/docs/nodejs/angular/breakpoint.png"
        photoAltText="Print de tela do VS Code, mostrando o arquivo de importação de módulos de uma aplicação Angular."
        cardTitle="Aluna de Etec aprende Angular nas férias"
        cardDescricao="Rayssa Buarque Malheiros, aluna do 3º ano Técnico em Desenvolvimento de Sistemas da Etec Abdias do Nascimento, resolveu se dedicar a estudar Angular e finalizar a base de seu tcc utilizando Web Components durante seu período de férias."
        cardUrl="https://github.com/RayssaBuarque/angular-blog_DIO"
            id="1"
        ></app-big-card>
    </div>

    <div class="articles__outros">
        <app-small-card
            photoCover="https://media.licdn.com/dms/image/D4D22AQE_tV744t8fSg/feedshare-shrink_1280/0/1688257514880?e=1691625600&v=beta&t=347YQHCFKTRZlaf6FuvhDzq_n8iYmSSRcoZncGIKFgI"
            photoAltText="Fotografia de 5 adolescentes e uma jovem segurando um troféu de 1º lugar."
            cardTitle="Aplicativo de Bicicleta vence EMpreendeSIM 2023"
            cardUrl="https://artemisbike.vercel.app/"
            id="2"
        ></app-small-card>

        <app-small-card
            photoCover="https://media.licdn.com/dms/image/D4D22AQE_tV744t8fSg/feedshare-shrink_1280/0/1688257514880?e=1691625600&v=beta&t=347YQHCFKTRZlaf6FuvhDzq_n8iYmSSRcoZncGIKFgI"
            photoAltText="Print de tela do VS Code, mostrando o arquivo de importação de módulos de uma aplicação Angular."
            cardTitle="Aplicativo de Bicicleta vence EMpreendeSIM 2023"
            cardUrl="https://artemisbike.vercel.app/"
            id="3"
        ></app-small-card>

        <app-small-card
            photoCover="https://media.licdn.com/dms/image/D4D22AQE_tV744t8fSg/feedshare-shrink_1280/0/1688257514880?e=1691625600&v=beta&t=347YQHCFKTRZlaf6FuvhDzq_n8iYmSSRcoZncGIKFgI"
            photoAltText="Print de tela do VS Code, mostrando o arquivo de importação de módulos de uma aplicação Angular."
            cardTitle="Aplicativo de Bicicleta vence EMpreendeSIM 2023"
            cardUrl="https://artemisbike.vercel.app/"
            id="4"
        ></app-small-card>
    </div>
</div>

