<div class="container__menu-bar">
    <ul>
        <li><a
            href="https://www.linkedin.com/in/rayssabuarque/"
            target="_blank"
            title="Linkedin: Rayssa Buarque">
            Linkedin</a></li>

        <li><span>•</span></li>

        <li><a 
            href="https://github.com/RayssaBuarque/"
            target="_blank"
            title="Github: Rayssa Buarque">
            Github</a></li>

        <li><span>•</span></li>

        <li><a 
            href="https://www.instagram.com/rayszart/"
            target="_blank"
            title="Instagram Artístico: @rayszart">
            Instagram</a></li>
    </ul>
</div>